body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('Home-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow-x: hidden; 
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.dropdown-menu {
  background-color:black !important;
  background-size: cover;
}

.dropdown-item {
  color: #6E2F8A !important; /* Set text color */
}

.dropdown-Item:focus, .dropdown-Item:hover {
  color: #6E2F8A;
  text-decoration: none;
  background:black;
  z-index: 1;
}

h1{ 
  font-family: "Rubik", sans-serif;
  font-size: 40px 
}
h2{ 
  font-family: "Rubik", sans-serif;
  font-size: 30px 
}
h3{ 
  font-family: "Rubik", sans-serif;
  font-size: 20px 
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
  font-family: "Rubik", sans-serif;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: #6E2F8A;
}

.icon {
width: 200px;
height: 200px;
}

.miniIntro {
  grid-area: miniIntro;
  padding: 30px;
  justify-content: flex-start;
  color: white;
  border-radius: 25px;
  margin-top: 375px;
  margin-left: 75px;
  margin-bottom: 30px;
  margin-right: 200px;
}

.section title{
  padding: 250px;
    justify-content: flex-start;
    color: white;
    position:fixed;
    width: 25%;
}

.flex-container.body{
  display: flex;
  gap: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 200px;
}

#research {
  grid-area: research;
  width:33%;
}

#design {
  grid-area: design;
  width:33%;
}

#wire {
  grid-area: wire;
  width:33%;
}

.card {
  background-color: black;
  padding: 30px;
  justify-content: start;
  color: white;
  border-radius: 25px;
  margin: 30px;
  flex-direction: row;
}

.preview {
  border-radius: 25px;
}

.rounded-button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid #6E2F8A;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s, color 0.3s;

}

main {
  padding: 100px 75px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url('body-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align:end;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #6E2F8A;;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
   color: #6E2F8A;
}

.button:active {
    background-color: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.flex-container.skills{
  display: flex;
}
section{
  width: 100%;
}